/*color scheme */
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black; }

nav .navbar-nav li a {
  color: white !important; }

.navbar-light .navbar-nav .nav-link {
  color: red; }

#skills {
  margin: 120px 0px 60px 0px; }
  #skills .skills-column {
    margin-bottom: 50px; }
    #skills .skills-column h2 {
      color: #336e7b; }
  #skills #front-end-title {
    margin-bottom: 46px; }
  #skills .skill-container-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #skills .skill-container-container .skills-container {
      width: 120px;
      margin: 10px; }
      #skills .skill-container-container .skills-container h3 {
        font-size: 26px; }
      #skills .skill-container-container .skills-container .skills {
        font-size: 50px;
        display: inline; }
  #skills #softskills-title {
    margin-bottom: 47px; }
  #skills .softskills-container {
    font-size: 26px; }

#hero {
  background: url("/imgs/space-back.jpg") 50% 0 repeat fixed;
  background-color: purple;
  color: #E2D072;
  min-height: 500px;
  position: relative; }
  #hero #roles {
    margin: 0 auto;
    width: 100%;
    padding: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px; }
    #hero #roles p {
      margin: 10px;
      padding: 15px; }
  #hero figure {
    width: 200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #hero figure img {
      position: relative;
      top: 60px; }

.logo {
  width: 45px;
  border-radius: 60%;
  margin: 0px 10px 0px 10px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }
  .logo:hover {
    cursor: pointer;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -moz-animation-name: bounce; }

.material-icons.md-36 {
  font-size: 36px; }

.material {
  color: #e05038;
  padding: 20px; }

#about {
  margin-top: 50px;
  background-color: white; }
  #about #profile-pic {
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: 30px auto; }
  #about #logo-container {
    width: 300px;
    text-align: center; }
  #about .description {
    margin-top: 20px; }

#project {
  background-color: #e6af4b;
  margin: 80px 0 30px 0; }
  #project h1 {
    text-align: center;
    padding: 10px;
    color: #334431;
    margin-bottom: 50px; }
  #project .project-pic {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: #336e7b; }
  #project .project-link {
    color: black; }
    #project .project-link:hover {
      text-decoration: none; }

.col-lg-4 h3 {
  color: #334431; }

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

/* Media Queries */
@media only screen and (min-width: 900px) {
  #hero #roles {
    font-size: 45px; } }
